@import "bootstrap-sprockets";
@import "bootstrap";

div#main {
   margin: 4.25em;
}

.form-group {
  padding: 13px;
  margin: 0px;
}

button.navbar-toggle.collapsed {
  padding: 5px;
  border-style: none;
  margin-top: 15px;
}

.btn-transparant {
  background-color: transparent;
}
