  <% @products = Product.includes(:foodgroup, :category) %>
  <% @foodgroups.each do |foodgroup|%>
    <h3><%= foodgroup.name %></h3>
    <% @categories.each do |category| %>
      <%= category.name %>
      <% foodgroup.products.each do |product| %>
        <% if (product.category.name == category.name) %>
          <ul><li><%= link_to product.name, product %></li></ul>
        <% end %>
      <% end %>
    <hr>
    <% end %>
<% end %>
