<div class="margin">
<h2 id="show">
   <%= @category.name %>
   <% if @category.id == 1 %>
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
   <% elsif @category.id == 2 %>
    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
   <% else %>
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
   <% end %>
</h2>

<% @foodgroups.each do |foodgroup| %>
  <h3><%= foodgroup.name %></h3>
  <% foodgroup.products.each do |product| %>
    <% if (product.category.name == @category.name) %>
      <h4><%= link_to product.name, product %></h4>
    <% end %>

  <% end %>
  <hr>
<% end %>
</div>
