<h3>
   <%= @category.name %>
</h3>

<% @foodgroups.each do |foodgroup|%>
  <%= foodgroup.name %>
  <% foodgroup.products.each do |product| %>
    <% if (product.category.name == @category.name) %>
      <ul><li><%= link_to product.name, product %></li></ul>
    <% end %>
  <% end %>
  <hr>
<% end %>
