<h2>
   <%= @category.name %>
</h2>

<% @products = Product.includes(:foodgroup, :category) %>
<% @products.each do |product| %>
  <% if (product.category.name == @category.name) %>
    <%= product.foodgroup.name %>
    <ul><li><%= product.name %> </li></ul>
  <% end %>
<% end %>
