<div class="margin">
<h3 id="show">
  <%= @product.name %>
  <% if @product.category_id == 1 %>
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <% elsif @product.category_id == 2 %>
  <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
  <% else %>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <% end %>
</h3>
<h5>Categorie: <%= @product.category.name %> </h5>

<% if can? :manage, @product %>
<%= link_to "Delete", product_path( @product ), method: :delete, data: { confirm: "Weet je het zeker?" }, class: "btn btn-default", style: "float: left" %>
<%= link_to "Edit", edit_product_path( @product ), class: "btn btn-default", style: "float: left" %>
<% end %>
</div>
